@use "../../styles/variable.scss" as *;

.tracking-container {
    max-width: 100vw;
    width: 100%;
    overflow: hidden;

    .header-sub {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 2rem;
        cursor: pointer;
        width: 100%;
        background: transparent;
        height: 3.5rem;

        .source-transaction {
            padding: 10px 20px;
            background: #111;
            border: none;
            color: white;
            border-radius: 12px;
            cursor: pointer;
            transition: all 0.1s;
            display: flex; 
            align-items: center; 
            justify-content: center;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 0.8rem;
            box-shadow: 0 3px 0 #000, 0 5px 10px rgba(0,0,0,0.4);
            flex: 1;
            height: 100%;

            &.active {
                background: linear-gradient(180deg, #333 0%, #111 100%);
                color: #f8c537;
                box-shadow: 0 3px 0 #B08E1D, 0 6px 15px rgba(248, 197, 55, 0.2);
            }

            &:hover:not(.active) { background: #222; transform: translateY(-1px); }
            &:active { transform: translateY(2px); box-shadow: 0 1px 0 #000; }
        }
    }

    .tracking-content {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
